.git
.gitignore
.pytest_cache
.venv
__pycache__
*.py[cod]
*$py.class
.coverage
.coverage.*
htmlcov
.mypy_cache
.ruff_cache
.tox
.nox
out
playwright-report
test-results
tests
*.log
.DS_Store
.idea
.vscode
